body{
    background-color: brown;
    color: burlywood;
}
fieldset{
    margin-top: 100px;
    margin-left: 700px;
    width: 400px;
    height: 350px;
    text-align: left;
}
h1{
    text-align: center;
    margin-top: 50px;
}